:root {
    --color-primary: #FD377E;
    --color-primary2: #E34981;
    --color-secondary: #03B898;
    --grey1: #F8F9FA;
    --grey2: #E9ECEF;
    --grey3: #868E96;
    --grey4: #212529;
    --font: 'Nunito', sans-serif;
}

body {
    background-color: var(--grey1);
    font-family: var(--font);
}

main {
    padding: 3rem 1rem;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 1.875rem;
    max-width: 1050px;

    @media (max-width: 46.875rem) {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
    }
}

.formSection {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    width: 100%;
    max-width: 22.1875rem;

    @media (max-width: 31.25rem) {
        width: 100vw;
        ;
    }
}

aside {
    width: 100%;

    .cardList-title {
        font-size: 1rem;
        font-weight: 700;
        color: var(--grey4);
    }
}

ul {
    display: flex;
    flex-direction: column;
    width: clamp(0px, 100%, 560px);
    height: 28.25rem;

    @media (max-width: 31.25rem) {
        width: 90vw;
    }
}

button {
    cursor: pointer;
    font-family: var(--font);
}